#dashboard-container-page
  h1 Dashboard
  .wrap-dashboard
    .data-vendor
      .description.panel.panel-info
        .panel-heading
          h3.panel-title Info
        .panel-body
          .photo.col-md-4
            = image_tag @vendor.picture.url(:large), class: 'img-responsive'

          .vendor-info.col-md-8
            .email.item
              span.lbl Email:
              = @vendor.email
            .name.item
              span.lbl Name:
              = @vendor.name
            .address.item
              span.lbl Address:
              = @vendor.address
            .phone.item
              span.lbl Phone:
              = @vendor.phone
            .fax.item
              span.lbl Fax:
              = @vendor.fax
            .total_sharing.item
              span.lbl Total of sharing:
              = @total_sharing
    .row
      .data-vendor.col-md-12
        .description.panel.panel-info
          .panel-heading
            h3.panel-title Description
          .panel-body
            = @vendor.description

        .wrap-reward.panel.panel-info
          .panel-heading
            h3.panel-title Reward
          .panel-body.reward_detail
              =@vendor.reward_detail




