#consumer_sharing_container.col-md-12
  h1 Consumer sharing
  - if @shares.present?
    .list-of-shares.row
      - @shares.each do |share|
        div.col-md-3
          div.photo
            = image_tag share.picture.url(:large), class: 'img-responsive'
          div.by
            span By:
            = share.consumer.email
          div.message
            = share.message

    .wrap-pagination
      = paginate @shares, :theme => 'twitter-bootstrap-3'
